{% extends "_includes/default.njk" %}

{% block title %}
  Loopstudios landing page | Frontend Mentor{% endblock %}

{% block content %}
  <main>
    {# HERO SECTION #}
    <section class="flex justify-center items-center h-screen bg-cover bg-no-repeat bg-center bg-hero-mobile lg:bg-hero-desktop">
      <div class="text-white max-w-[650px] mx-6 border-2 border-white border-solid p-6">
        <h1 class="font-sans text-[2.5rem] leading-9 uppercase">Immersive experiences that deliver</h1>
      </div>
    </section>
    <section class="px-6 py-24">
      <div>
        <img src="/assets/images/mobile/image-interactive.jpg" alt="Man excitely plays with interactive vr goggles">
        <div class="text-center pt-12 px-6">
          <h2 class="font-sans text-[2rem] mb-4 uppercase leading-8">The leader in interactive VR</h2>
          <p class="font-alata text-grey">Founded in 2011, Loopstudios has been producing world-class virtual reality projects for some of the best companies around the globe. Our award-winning creations have transformed businesses through digital experiences that bind to their brand.</p>
        </div>
      </div>
    </section>
    <section class="px-6 pb-24">
      <div class="grid grid-rows-projects ">
        <h3 class="font-sans text-[2rem] text-center mb-12 uppercase">Our creations</h3>
        <button class="row-start-3 justify-self-center font-alata text-center tracking-[0.4em] text-sm uppercase border border-solid border-black px-10 py-3 mt-9">See all</button>
        <div class="grid gap-6 sm:grid-cols-projects">
          {% for project in creationList %}
            <article class="relative">
              <picture>
                <source media="(max-width: 650px)" srcset="{{ project.images.mobile }}">
                <source media="(min-width: 651px)" srcset="{{ project.images.desktop }}">
                <img src="{{ project.images.mobile }}" alt="{{ project.title }}">
              </picture>
              <p class="absolute bottom-0 left-0 inline-block text-2xl p-5 max-w-[50%] text-white leading-6 uppercase" aria-hidden="true">
                {{ project.title }}
              </p>
              <p class="sr-only">
                {{ project.title }}
              </p>
            </article>
          {% endfor %}
        </div>
      </div>
    </section>
  </main>
{% endblock %}