<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% block title %}Does it work?{% endblock %}
    </title>
    <meta charset="UTF-8"/>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="stylesheet" href="./style.css?v={% version %}"/>
    {% block head %}{% endblock %}
    <script defer="defer" src="/js/bundle.js?v={% version %}"></script>
  </head>
  <body>
    <header class="flex justify-between items-center w-full -mb-[6.5rem] px-6 py-10">
      <a class="relative z-50" href="/"><img class="w-36" src="/assets/images/logo.svg" alt="Loopstudios"></a>
      <button aria-controls="loopstudio-nav" aria-expanded="false" class="relative z-50 sm:hidden">
        <img src="/assets/images/icon-hamburger.svg" alt="menu closed" class="nav-icon">
        <img class="nav-icon hidden" src="/assets/images/icon-close.svg" alt="menu open">
      </button>
      <ul class="font-sans text-2xl text-white uppercase fixed z-40 inset-0 hidden flex-col justify-center items-stretch h-screen bg-black sm:static" id="loopstudio-nav" role="list">
        <li>
          <a class="block px-6 py-3" href="#0">
            About
          </a>
        </li>
        <li>
          <a class="block px-6 py-3" href="#0">
            Careers
          </a>
        </li>
        <li>
          <a class="block px-6 py-3" href="#0">
            Events
          </a>
        </li>
        <li>
          <a class="block px-6 py-3" href="#0">
            Products
          </a>
        </li>
        <li>
          <a class="block px-6 py-3" href="#0">
            Support
          </a>
        </li>
      </ul>
    </header>
    {% block content %}
      {{ content | safe }}
    {% endblock %}
    <footer class="bg-black px-12 py-14">
      <div class="mb-12">
        <div class="flex flex-col justify-center items-center">
          <a class="mb-8" href="/"><img class="w-36" src="/assets/images/logo.svg" alt="Loopstudios"></a>
          <ul class="flex flex-col justify-center items-center font-alata text-[0.9375rem] text-white gap-4" role="list">
            <li>
              <a href="#0">
                About
              </a>
            </li>
            <li>
              <a href="#0">
                Careers
              </a>
            </li>
            <li>
              <a href="#0">
                Events
              </a>
            </li>
            <li>
              <a href="#0">
                Products
              </a>
            </li>
            <li>
              <a href="#0">
                Support
              </a>
            </li>
          </ul>
        </div>
        <div></div>
      </div>
      <div>
        <ul class="flex justify-center items-center gap-4 mb-4">
          <li>
            <a href="#0"><img src="/assets/images/icon-facebook.svg" alt="Facebook"></a>
          </li>
          <li>
            <a href="#0"><img src="/assets/images/icon-twitter.svg" alt="Twitter"></a>
          </li>
          <li>
            <a href="#0"><img src="/assets/images/icon-pinterest.svg" alt="Pintrest"></a>
          </li>
          <li>
            <a href="#0"><img src="/assets/images/icon-instagram.svg" alt="Instagram"></a>
          </li>
        </ul>
        <p class="text-[15px] text-dark-grey font-alata inline-block mb-3">© 2021 Loopstudios. All rights reserved.</p>
      </div>
      <div class="attribution text-dark-grey">
        <p>
          Challenge by
          <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. Coded by
          <a href="#">Herman Dardon</a>.
        </p>
      </div>
    </footer>
  </body>
</html>